* {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* .flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
} */

body {
  width: 100%;
  height: 100%;
  background-color: rgb(27, 27, 27);
  font-family: "Work Sans", sans-serif;
  color: #009888;
  background-color: #009888;
}
header {
  width: 94%;
  font-family: droid-sans, sans-serif;
  padding: 18px 18px;
  color: white;
  margin: 0 auto;
}
/*list styles */

.container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin: 0 auto;
    width: 96.5%;
    height: 50vh;
    overflow: auto;
    overflow: ;
  }

/*meterlos en el container*/

h2 {
  font-family: droid-sans, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 20px;
  
}

ul {
  font-family: droid-sans, sans-serif;
  padding: 15px 0px 30px 0px;
}

ul li {
  margin-bottom: 5px;
  padding: 0 20px;
  cursor: pointer;
}

ul li:hover {
  background-color: rgb(27, 27, 27);
}

.functions h2 {
  background-color: white;
}

.functions {
  background-color: white;
}

.functions li:hover {
  color: #b1e0dc;
}

.selectors h2 {
  background-color: white;
}

.selectors {
  background-color: white;
}

.selectors li:hover {
  color: #b1e0dc;
}

.events h2 {
  background-color: white;
}

.events {
  background-color: white;
}

.events li:hover {
  color: #b1e0dc;
}


/*display style */

.console-container {
    border: 5px solid #009888;;
    min-width: 457px;
    width: 30%;
    height: 100%;
    background-color:  #01201c;;
    /* display: flex;
    flex-direction: row; */
    /* min-height: 257px;  */
  }
  
.side-console-container {
    width: 100%;
    height: 50%;
    overflow: hidden;
    min-height: 157px;
    min-width: 300px;
  }
  
.side-console-container:first-child {
    border-bottom: 2.5px solid #009888;;
  }
  
.side-console-container:last-child {
    border-top: 2.5px solid #009888;
  }


section {
display: flex;
flex-direction: row;
border: 2%;
align-items: stretch;
    justify-content: space-between;
    margin: 0 auto;
    width: 96.5%;
    height: 50vh;
}